table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 8px 8px 0 0;
	overflow: hidden;

	thead {
		background-color: var(--blue-primary);
		height: 47px;
		th {
			color: var(--white);
			font-size: 16px;
			font-weight: 500;

			text-align: left;
		}
	}

	tbody {
		background-color: var(--white);

		tr {
			border: 1px solid var(--gray-10);
			border-bottom: 0;
			height: 49px;
		}
		tr.employee-data {
			display: none;
			border-top: 0;
		}

		td {
			font-weight: 400;
			font-size: 16px;

			img {
				width: 34px;
				height: 34px;
				border-radius: 50%;
			}
		}
	}

	tr:not(.employee-data) {
		th:first-child,
		td:first-child {
			padding-left: 24px;
		}
	}
	th:last-child,
	td:last-child {
		display: none;
	}

	@media screen and (max-width: 768px) {
		tr {
			height: 60px;
		}

		th,
		td {
			display: none;

			&:first-child,
			&:nth-child(2),
			&:last-child {
				display: table-cell;
			}
		}

		button {
			background-color: transparent;
			border: 0;
			height: 32px;
			padding: 0;
			width: 32px;

			img {
				height: 32px;
				transform: rotate(0);
				transition: 0.2s transform ease-in-out;
				width: 32px;
			}
			&.expanded {
				img {
					transform: rotate(-180deg);
				}
			}
		}

		.employee-data.expanded {
			display: table-row;
			td {
				padding: 12px 24px;

				.employee-data__row {
					border-bottom: 1px dashed var(--gray-10);
					display: flex;
					justify-content: space-between;
					margin-bottom: 12px;

					strong {
						font-size: 16px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
